# 6.1 Cleaning Data PART1: Preparing Data

## Importing libaries

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Assign path variable
path = '/Users/mariamaske/World Happiness Data!/02 Data/Original Data'

## Preparing the data set
#### The goal of the following code (section) is to create an overall data set from the individual data sets that exist individually for the years 2015-2023.For this purpose, an additional column is added to each data set, which contains the year of the respective data set, so that the development of the happiness score from 2015-2023 can be shown with the total data set.

### Preparing dataset 2015

In [3]:
# Join path 2015.csv
df_15 = pd.read_csv(os.path.join(path,'2015.csv'), index_col = False)

In [4]:
# Join path 2018.csv | we need a specific column form 2018
df_18 = pd.read_csv(os.path.join(path,'2018.csv'), index_col = False)

In [5]:
df_15.head()

,Happiness Rank,country,Regional indicator,Ladder score,Logged GDP per capita,Healthy life expectancy,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,year
0,NaN,Switzerland,Western Europe,7.587,10.857283,72.736862,1.396505,1.349505,0.941432,0.665573,0.296775,0.419777,2015
1,1.0,Iceland,Western Europe,7.561,10.568534,72.968559,1.302324,1.402231,0.947844,0.628772,0.436297,0.141451,2015
2,2.0,Denmark,Western Europe,7.527,10.639521,70.323395,1.325478,1.360581,0.874641,0.649384,0.341386,0.483573,2015
3,3.0,Norway,Western Europe,7.522,11.048872,70.705254,1.458997,1.330955,0.885209,0.669732,0.346989,0.365034,2015
4,4.0,Canada,North America and ANZ,7.427,10.642016,71.443192,1.326292,1.322608,0.905631,0.632968,0.458109,0.329573,2015

In [6]:
# renames columns to make them more conform with the other data sets 
df_15.rename(columns = {'country' : 'Country', 'year':'Year', 'Ladder score':'Happiness Score', 'Regional indicator':'Region'}, inplace = True)

In [7]:
# drop the Happiness Rank column because it isnt in the right format
df_15= df_15.drop(columns = ['Happiness Rank'])

In [8]:
# Since the df_15 dataframe started with zero even though Switzerland had the Rank 1 we need a new Happiness Rank column.
df_15['Happiness Rank'] = df_18['Happiness Rank']

In [9]:
df_15.head()

,Country,Region,Happiness Score,Logged GDP per capita,Healthy life expectancy,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Year,Happiness Rank
0,Switzerland,Western Europe,7.587,10.857283,72.736862,1.396505,1.349505,0.941432,0.665573,0.296775,0.419777,2015,1.0
1,Iceland,Western Europe,7.561,10.568534,72.968559,1.302324,1.402231,0.947844,0.628772,0.436297,0.141451,2015,2.0
2,Denmark,Western Europe,7.527,10.639521,70.323395,1.325478,1.360581,0.874641,0.649384,0.341386,0.483573,2015,3.0
3,Norway,Western Europe,7.522,11.048872,70.705254,1.458997,1.330955,0.885209,0.669732,0.346989,0.365034,2015,4.0
4,Canada,North America and ANZ,7.427,10.642016,71.443192,1.326292,1.322608,0.905631,0.632968,0.458109,0.329573,2015,5.0

In [10]:
# finding missing values
df_15.isnull().sum()

Country                                       0
Region                                        0
Happiness Score                               0
Logged GDP per capita                         0
Healthy life expectancy                       0
Explained by: Log GDP per capita              0
Explained by: Social support                  0
Explained by: Healthy life expectancy         0
Explained by: Freedom to make life choices    0
Explained by: Generosity                      0
Explained by: Perceptions of corruption       0
Year                                          0
Happiness Rank                                2
dtype: int64

In [11]:
# dropping missing Values
df_15 = df_15.dropna(subset=['Happiness Rank'])

In [12]:
# check missing values
df_15.isnull().sum()

Country                                       0
Region                                        0
Happiness Score                               0
Logged GDP per capita                         0
Healthy life expectancy                       0
Explained by: Log GDP per capita              0
Explained by: Social support                  0
Explained by: Healthy life expectancy         0
Explained by: Freedom to make life choices    0
Explained by: Generosity                      0
Explained by: Perceptions of corruption       0
Year                                          0
Happiness Rank                                0
dtype: int64

In [13]:
df_15= df_15.drop(columns = ['Happiness Rank'])

In [14]:
# Since the df_15 dataframe started with zero even though Switzerland had the Rank 1
df_15['Happiness Rank'] = df_18['Happiness Rank']

In [15]:
df_15.head()

,Country,Region,Happiness Score,Logged GDP per capita,Healthy life expectancy,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Year,Happiness Rank
0,Switzerland,Western Europe,7.587,10.857283,72.736862,1.396505,1.349505,0.941432,0.665573,0.296775,0.419777,2015,1
1,Iceland,Western Europe,7.561,10.568534,72.968559,1.302324,1.402231,0.947844,0.628772,0.436297,0.141451,2015,2
2,Denmark,Western Europe,7.527,10.639521,70.323395,1.325478,1.360581,0.874641,0.649384,0.341386,0.483573,2015,3
3,Norway,Western Europe,7.522,11.048872,70.705254,1.458997,1.330955,0.885209,0.669732,0.346989,0.365034,2015,4
4,Canada,North America and ANZ,7.427,10.642016,71.443192,1.326292,1.322608,0.905631,0.632968,0.458109,0.329573,2015,5

In [16]:
# changing year data type from integer to string
df_15['Year'] = df_15['Year'].astype('str')

In [17]:
# creating a key to merge all datasets at the end
df_15["Key"] = df_15['Country'].astype(str) +"-"+ df_15["Year"]

In [18]:
df_15.head()

,Country,Region,Happiness Score,Logged GDP per capita,Healthy life expectancy,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Year,Happiness Rank,Key
0,Switzerland,Western Europe,7.587,10.857283,72.736862,1.396505,1.349505,0.941432,0.665573,0.296775,0.419777,2015,1,Switzerland-2015
1,Iceland,Western Europe,7.561,10.568534,72.968559,1.302324,1.402231,0.947844,0.628772,0.436297,0.141451,2015,2,Iceland-2015
2,Denmark,Western Europe,7.527,10.639521,70.323395,1.325478,1.360581,0.874641,0.649384,0.341386,0.483573,2015,3,Denmark-2015
3,Norway,Western Europe,7.522,11.048872,70.705254,1.458997,1.330955,0.885209,0.669732,0.346989,0.365034,2015,4,Norway-2015
4,Canada,North America and ANZ,7.427,10.642016,71.443192,1.326292,1.322608,0.905631,0.632968,0.458109,0.329573,2015,5,Canada-2015

### Preparing dataset 2016

In [19]:
# Join path 2016.csv
df_16 = pd.read_csv(os.path.join(path,'2016.csv'), index_col = False)

In [20]:
df_16.head()

,Country,Log GDP per capita,Healthy life expectancy at birth,Happiness score,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia (2.33) + residual,Year,Happiness Rank
0,Denmark,10.683102,70.915550,7.526,1.441784,1.163745,0.795040,0.579413,0.361710,0.444532,2.739390,2016.0,1.0
1,Switzerland,10.917511,72.957100,7.509,1.527334,1.145236,0.863029,0.585572,0.280825,0.412033,2.694632,2016.0,2.0
2,Iceland,10.689030,72.053543,7.501,1.426655,1.183259,0.867333,0.566242,0.476784,0.149747,2.831373,2016.0,3.0
3,Norway,11.068572,70.784592,7.498,1.577440,1.126896,0.795789,0.596086,0.378948,0.357758,2.664645,2016.0,4.0
4,Finland,10.568763,71.382690,7.413,1.405979,1.134640,0.810914,0.571037,0.254919,0.410040,2.825965,2016.0,5.0

In [21]:
df_16= df_16.drop(columns = ['Dystopia (2.33) + residual'])

In [22]:
# renames the columns
df_16.rename(columns = {'Explained by: GDP per capita':'Explained by: Log GDP per capita','Log GDP per capita':'Logged GDP per capita','Happiness score' : 'Happiness Score', 'Healthy life expectancy at birth':'Healthy life expectancy'}, inplace = True)

In [23]:
df_16= df_16.drop(columns = ['Year'])

In [24]:
df_16['Year'] = 2016

In [25]:
# creating a subset with the columns Country and Region from the df_15 dataframe so I can merge the subset with other dataframes like the df_17 dataframe to establish a region column in all dataframes
df_region = df_15[['Country','Region']]

In [26]:
df_region.head()

       Country                 Region
0  Switzerland         Western Europe
1      Iceland         Western Europe
2      Denmark         Western Europe
3       Norway         Western Europe
4       Canada  North America and ANZ

In [27]:
#Merge the two dataframes with 'country' as the key
df_16m = df_16.merge(df_region, on = 'Country', indicator = True)

In [28]:
df_16m.head()

,Country,Logged GDP per capita,Healthy life expectancy,Happiness Score,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Happiness Rank,Year,Region,_merge
0,Denmark,10.683102,70.915550,7.526,1.441784,1.163745,0.795040,0.579413,0.361710,0.444532,1.0,2016,Western Europe,both
1,Switzerland,10.917511,72.957100,7.509,1.527334,1.145236,0.863029,0.585572,0.280825,0.412033,2.0,2016,Western Europe,both
2,Iceland,10.689030,72.053543,7.501,1.426655,1.183259,0.867333,0.566242,0.476784,0.149747,3.0,2016,Western Europe,both
3,Norway,11.068572,70.784592,7.498,1.577440,1.126896,0.795789,0.596086,0.378948,0.357758,4.0,2016,Western Europe,both
4,Finland,10.568763,71.382690,7.413,1.405979,1.134640,0.810914,0.571037,0.254919,0.410040,5.0,2016,Western Europe,both

In [29]:
df_16m['Happiness Rank1'] = df_18['Happiness Rank']

In [30]:
#drop Happiness Rank
df_16m= df_16m.drop(columns = ['Happiness Rank'])

In [31]:
# renames the column Happiness1 column
df_16m.rename(columns = {'Happiness Rank1' : 'Happiness Rank', 'Healthy life expectancy at birth':'Healthy life expectancy'}, inplace = True)

In [32]:
# changing year data type from integer to string
df_16m['Year'] = df_16m['Year'].astype('str')

In [33]:
# creating a key to merge all datasets at the end
df_16m["Key"] = df_16m['Country'].astype(str) +"-"+ df_16m["Year"]

In [34]:
df_16m.head()

,Country,Logged GDP per capita,Healthy life expectancy,Happiness Score,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Year,Region,_merge,Happiness Rank,Key
0,Denmark,10.683102,70.915550,7.526,1.441784,1.163745,0.795040,0.579413,0.361710,0.444532,2016,Western Europe,both,1,Denmark-2016
1,Switzerland,10.917511,72.957100,7.509,1.527334,1.145236,0.863029,0.585572,0.280825,0.412033,2016,Western Europe,both,2,Switzerland-2016
2,Iceland,10.689030,72.053543,7.501,1.426655,1.183259,0.867333,0.566242,0.476784,0.149747,2016,Western Europe,both,3,Iceland-2016
3,Norway,11.068572,70.784592,7.498,1.577440,1.126896,0.795789,0.596086,0.378948,0.357758,2016,Western Europe,both,4,Norway-2016
4,Finland,10.568763,71.382690,7.413,1.405979,1.134640,0.810914,0.571037,0.254919,0.410040,2016,Western Europe,both,5,Finland-2016

In [35]:
df_16m['_merge'].value_counts()

both          150
left_only       0
right_only      0
Name: _merge, dtype: int64

### Preparing dataset 2017

In [36]:
# Join path 2017.csv
df_17 = pd.read_csv(os.path.join(path,'2017.csv'), index_col = False)

In [37]:
df_17.head()

,Country,Happiness score,Log GDP per capita,Healthy life expectancy at birth,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia (1.85) + residual,Year,Happiness Rank
0,Norway,7.537,11.068572,70.784592,1.616,1.534,0.797,0.635,0.362,0.316,2.277,2017.0,1.0
1,Denmark,7.522,10.683102,70.915550,1.482,1.551,0.793,0.626,0.355,0.401,2.314,2017.0,2.0
2,Iceland,7.504,10.689030,72.053543,1.481,1.611,0.834,0.627,0.476,0.154,2.323,2017.0,3.0
3,Switzerland,7.494,10.917511,72.957100,1.565,1.517,0.858,0.620,0.291,0.367,2.277,2017.0,4.0
4,Finland,7.469,10.568763,71.382690,1.444,1.540,0.809,0.618,0.245,0.383,2.430,2017.0,5.0

In [38]:
# rename columns
df_17.rename(columns = {'Explained by: GDP per capita':'Explained by: Log GDP per capita','Log GDP per capita':'Logged GDP per capita','Happiness score' : 'Happiness Score','Healthy life expectancy at birth':'Healthy life expectancy'}, inplace = True)

In [39]:
df_17= df_17.drop(columns = ['Dystopia (1.85) + residual'])

In [40]:
#Merge the two dataframes with 'country' as the key
df_17m = df_17.merge(df_region, on = 'Country', indicator = True)

In [41]:
#drop Year column
df_17m= df_17m.drop(columns = ['Year'])

In [42]:
df_17m['Year'] = 2017

In [43]:
# changing year data type from integer to string
df_17m['Year'] = df_17m['Year'].astype('str')

In [44]:
df_17m.head()

,Country,Happiness Score,Logged GDP per capita,Healthy life expectancy,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Happiness Rank,Region,_merge,Year
0,Norway,7.537,11.068572,70.784592,1.616,1.534,0.797,0.635,0.362,0.316,1.0,Western Europe,both,2017
1,Denmark,7.522,10.683102,70.915550,1.482,1.551,0.793,0.626,0.355,0.401,2.0,Western Europe,both,2017
2,Iceland,7.504,10.689030,72.053543,1.481,1.611,0.834,0.627,0.476,0.154,3.0,Western Europe,both,2017
3,Switzerland,7.494,10.917511,72.957100,1.565,1.517,0.858,0.620,0.291,0.367,4.0,Western Europe,both,2017
4,Finland,7.469,10.568763,71.382690,1.444,1.540,0.809,0.618,0.245,0.383,5.0,Western Europe,both,2017

In [45]:
# creating a key to merge all datasets at the end
df_17m["Key"] = df_17m['Country'].astype(str) +"-"+ df_17m["Year"]

In [46]:
df_17m['Happiness Rank'] = df_18['Happiness Rank']

In [47]:
df_17m.head()

,Country,Happiness Score,Logged GDP per capita,Healthy life expectancy,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Happiness Rank,Region,_merge,Year,Key
0,Norway,7.537,11.068572,70.784592,1.616,1.534,0.797,0.635,0.362,0.316,1,Western Europe,both,2017,Norway-2017
1,Denmark,7.522,10.683102,70.915550,1.482,1.551,0.793,0.626,0.355,0.401,2,Western Europe,both,2017,Denmark-2017
2,Iceland,7.504,10.689030,72.053543,1.481,1.611,0.834,0.627,0.476,0.154,3,Western Europe,both,2017,Iceland-2017
3,Switzerland,7.494,10.917511,72.957100,1.565,1.517,0.858,0.620,0.291,0.367,4,Western Europe,both,2017,Switzerland-2017
4,Finland,7.469,10.568763,71.382690,1.444,1.540,0.809,0.618,0.245,0.383,5,Western Europe,both,2017,Finland-2017

In [48]:
df_17m['_merge'].value_counts()

both          148
left_only       0
right_only      0
Name: _merge, dtype: int64

### Preparing dataset 2018

In [49]:
# Join path 2018.csv
df_18 = pd.read_csv(os.path.join(path,'2018.csv'), index_col = False)

In [50]:
df_18.head()

,Country,Log GDP per capita,Healthy life expectancy at birth,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Happiness Rank,Year
0,Finland,10.612338,71.696960,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393,1,2018
1,Norway,11.081789,71.086586,7.594,7.657,7.530,2.383,1.456,1.582,0.861,0.686,0.286,0.340,2,2018
2,Denmark,10.748989,71.662498,7.555,7.623,7.487,2.370,1.351,1.590,0.868,0.683,0.284,0.408,3,2018
3,Iceland,10.760409,72.755981,7.495,7.593,7.398,2.426,1.343,1.644,0.914,0.677,0.353,0.138,4,2018
4,Switzerland,10.955548,73.173759,7.487,7.570,7.405,2.320,1.420,1.549,0.927,0.660,0.256,0.357,5,2018

In [51]:
# rename columns
df_18.rename(columns = {'Explained by: GDP per capita':'Explained by: Log GDP per capita','Log GDP per capita':'Logged GDP per capita','Happiness score' : 'Happiness Score', 'Healthy life expectancy at birth':'Healthy life expectancy'}, inplace = True)

In [52]:
df_18= df_18.drop(columns = ['Dystopia (1.92) + residual','Whisker-high','Whisker-low'])

In [53]:
# changing year data type from integer to string
df_18['Year'] = df_18['Year'].astype('str')

In [54]:
# creating a key to merge all datasets at the end
df_18["Key"] = df_18['Country'].astype(str) +"-"+ df_18["Year"]

In [55]:
#Merge the two dataframes with 'country' as the key
df_18m = df_18.merge(df_region, on = 'Country', indicator = True)

In [56]:
df_18m.head()

,Country,Logged GDP per capita,Healthy life expectancy,Happiness Score,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Happiness Rank,Year,Key,Region,_merge
0,Finland,10.612338,71.696960,7.632,1.305,1.592,0.874,0.681,0.192,0.393,1,2018,Finland-2018,Western Europe,both
1,Norway,11.081789,71.086586,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2,2018,Norway-2018,Western Europe,both
2,Denmark,10.748989,71.662498,7.555,1.351,1.590,0.868,0.683,0.284,0.408,3,2018,Denmark-2018,Western Europe,both
3,Iceland,10.760409,72.755981,7.495,1.343,1.644,0.914,0.677,0.353,0.138,4,2018,Iceland-2018,Western Europe,both
4,Switzerland,10.955548,73.173759,7.487,1.420,1.549,0.927,0.660,0.256,0.357,5,2018,Switzerland-2018,Western Europe,both

In [57]:
df_18m['_merge'].value_counts()

both          147
left_only       0
right_only      0
Name: _merge, dtype: int64

### Preparing dataset 2019

In [58]:
# Join path 2019.csv
df_19 = pd.read_csv(os.path.join(path,'2019.csv'), index_col = False)

In [59]:
df_19.head()

,Country,Happiness score,Log GDP per capita,Healthy life expectancy at birth,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia (1.88) + residual,Year,Happiness Rank
0,Finland,7.769,10.636060,71.900002,1.340,1.587,0.986,0.596,0.153,0.393,2.714,2019.0,1.0
1,Denmark,7.600,10.755594,72.400002,1.383,1.573,0.996,0.592,0.252,0.410,2.393,2019.0,2.0
2,Norway,7.554,11.085626,73.199997,1.488,1.582,1.028,0.603,0.271,0.341,2.241,2019.0,3.0
3,Iceland,7.494,NaN,NaN,1.380,1.624,1.026,0.591,0.354,0.118,2.401,2019.0,4.0
4,Netherlands,7.488,10.809204,72.300003,1.396,1.522,0.999,0.557,0.322,0.298,2.393,2019.0,5.0

In [60]:
# rename columns
df_19.rename(columns = {'Explained by: GDP per capita':'Explained by: Log GDP per capita','Log GDP per capita':'Logged GDP per capita','Happiness score' : 'Happiness Score', 'Healthy life expectancy at birth':'Healthy life expectancy' }, inplace = True)

In [61]:
df_19= df_19.drop(columns = ['Dystopia (1.88) + residual', 'Year'])

In [62]:
df_19['Year'] = 2019

In [63]:
#Merge the two dataframes with 'country' as the key
df_19m = df_19.merge(df_region, on = 'Country', indicator = True)

In [64]:
# changing year data type from integer to string
df_19m['Year'] = df_19m['Year'].astype('str')

In [65]:
# creating a key to merge all datasets at the end
df_19m["Key"] = df_19m['Country'].astype(str) +"-"+ df_19m["Year"]

In [66]:
df_19m.head()

,Country,Happiness Score,Logged GDP per capita,Healthy life expectancy,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Happiness Rank,Year,Region,_merge,Key
0,Finland,7.769,10.636060,71.900002,1.340,1.587,0.986,0.596,0.153,0.393,1.0,2019,Western Europe,both,Finland-2019
1,Denmark,7.600,10.755594,72.400002,1.383,1.573,0.996,0.592,0.252,0.410,2.0,2019,Western Europe,both,Denmark-2019
2,Norway,7.554,11.085626,73.199997,1.488,1.582,1.028,0.603,0.271,0.341,3.0,2019,Western Europe,both,Norway-2019
3,Iceland,7.494,NaN,NaN,1.380,1.624,1.026,0.591,0.354,0.118,4.0,2019,Western Europe,both,Iceland-2019
4,Netherlands,7.488,10.809204,72.300003,1.396,1.522,0.999,0.557,0.322,0.298,5.0,2019,Western Europe,both,Netherlands-2019

In [67]:
df_19m['_merge'].value_counts()

both          148
left_only       0
right_only      0
Name: _merge, dtype: int64

In [68]:
df_19m['Happiness Rank1'] = df_18['Happiness Rank']

In [69]:
#drop Happiness Rank
df_19m= df_19m.drop(columns = ['Happiness Rank '])

In [70]:
# renames the column Happiness1 column
df_19m.rename(columns = {'Happiness Rank1' : 'Happiness Rank'}, inplace = True)

### Preparing dataset 2020

In [71]:
# Join path 2020.csv
df_20 = pd.read_csv(os.path.join(path,'2020.csv'), index_col = False)

In [72]:
df_20.head()

,Country name,Region,Happiness Score,Logged GDP per capita,Healthy life expectancy,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,Year
0,Finland,Western Europe,7.8087,10.639267,71.900826,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835,2020
1,Denmark,Western Europe,7.6456,10.774001,72.402504,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741,2020
2,Switzerland,Western Europe,7.5599,10.979933,74.102448,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267,2020
3,Iceland,Western Europe,7.5045,10.772559,73.000000,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688,2020
4,Norway,Western Europe,7.4880,11.087804,73.200783,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266,2020

In [73]:
# renames the columns
df_20.rename(columns = {'Country name' : 'Country'}, inplace = True)

In [74]:
#drop column Dystopia + residual
df_20= df_20.drop(columns = ['Dystopia + residual'])

In [75]:
df_20.shape

(153, 12)

In [76]:
# changing year data type from integer to string
df_20['Year'] = df_20['Year'].astype('str')

In [77]:
# creating a key to merge all datasets at the end
df_20["Key"] = df_20['Country'].astype(str) +"-"+ df_20["Year"]

In [78]:
# Since the df_20 dataframe didn't have the "Happiness Rank"- column I created the column by importing the column from the df_15 dataframe. We dont't need a specific key here because we only want the numbers 1 to 153 in that order.
df_20['Happiness Rank'] = df_18['Happiness Rank']

In [79]:
df_20.head()

,Country,Region,Happiness Score,Logged GDP per capita,Healthy life expectancy,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Year,Key,Happiness Rank
0,Finland,Western Europe,7.8087,10.639267,71.900826,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2020,Finland-2020,1
1,Denmark,Western Europe,7.6456,10.774001,72.402504,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2020,Denmark-2020,2
2,Switzerland,Western Europe,7.5599,10.979933,74.102448,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2020,Switzerland-2020,3
3,Iceland,Western Europe,7.5045,10.772559,73.000000,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2020,Iceland-2020,4
4,Norway,Western Europe,7.4880,11.087804,73.200783,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2020,Norway-2020,5

In [80]:
df_20.shape

(153, 14)

### Preparing dataset 2021

In [81]:
# Join path 2021.csv
df_21 = pd.read_csv(os.path.join(path,'2021.csv'), index_col = False)

In [82]:
df_21.head()

,Country name,Region,Happiness Score,Logged GDP per capita,Healthy life expectancy,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,Happiness Rank,Year
0,Finland,Western Europe,7.842,10.775,72.0,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253,1,2021
1,Denmark,Western Europe,7.620,10.933,72.7,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868,2,2021
2,Switzerland,Western Europe,7.571,11.117,74.4,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839,3,2021
3,Iceland,Western Europe,7.554,10.878,73.0,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967,4,2021
4,Netherlands,Western Europe,7.464,10.932,72.4,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798,5,2021

In [83]:
# renames the columns
df_21.rename(columns = {'Country name' : 'Country'}, inplace = True)

In [84]:
# Since the df_20 dataframe didn't have the "Happiness Rank"- column I created the column by importing the column from the df_15 dataframe. We dont't need a specific key here because we only want the numbers 1 to 153 in that order.
df_21['Happiness Rank'] = df_18['Happiness Rank']

In [85]:
# changing year data type from integer to string
df_21['Year'] = df_21['Year'].astype('str')

In [86]:
# creating a key to merge all datasets at the end
df_21["Key"] = df_21['Country'].astype(str) +"-"+ df_21["Year"]

In [87]:
#drop column
df_21= df_21.drop(columns = ['Ladder score in Dystopia','Dystopia + residual'])

In [88]:
df_21.head()

,Country,Region,Happiness Score,Logged GDP per capita,Healthy life expectancy,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Happiness Rank,Year,Key
0,Finland,Western Europe,7.842,10.775,72.0,1.446,1.106,0.741,0.691,0.124,0.481,1,2021,Finland-2021
1,Denmark,Western Europe,7.620,10.933,72.7,1.502,1.108,0.763,0.686,0.208,0.485,2,2021,Denmark-2021
2,Switzerland,Western Europe,7.571,11.117,74.4,1.566,1.079,0.816,0.653,0.204,0.413,3,2021,Switzerland-2021
3,Iceland,Western Europe,7.554,10.878,73.0,1.482,1.172,0.772,0.698,0.293,0.170,4,2021,Iceland-2021
4,Netherlands,Western Europe,7.464,10.932,72.4,1.501,1.079,0.753,0.647,0.302,0.384,5,2021,Netherlands-2021

### Preparing dataset 2022

In [89]:
# Join path 2022.csv
df_22 = pd.read_csv(os.path.join(path,'2022.csv'), index_col = False)

In [90]:
df_22.head()

,Happiness Rank,Country,Happiness Score,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Year
0,1,Finland,7.821,2.518,1.892,1.258,0.775,0.736,0.109,0.534,2022
1,2,Denmark,7.636,2.226,1.953,1.243,0.777,0.719,0.188,0.532,2022
2,3,Iceland,7.557,2.320,1.936,1.320,0.803,0.718,0.270,0.191,2022
3,4,Switzerland,7.512,2.153,2.026,1.226,0.822,0.677,0.147,0.461,2022
4,5,Netherlands,7.415,2.137,1.945,1.206,0.787,0.651,0.271,0.419,2022

In [91]:
# renames the columns
df_22.rename(columns = {'Explained by: GDP per capita':'Explained by: Log GDP per capita'}, inplace = True)

In [92]:
df_22.columns

Index(['Happiness Rank', 'Country', 'Happiness Score',
       'Dystopia (1.83) + residual', 'Explained by: Log GDP per capita',
       'Explained by: Social support', 'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Year'],
      dtype='object')

In [93]:
#Merge the two dataframes with 'country' as the key
df_22m = df_22.merge(df_region, on = 'Country', indicator = True)

In [94]:
df_22m.head()

,Happiness Rank,Country,Happiness Score,Dystopia (1.83) + residual,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Year,Region,_merge
0,1,Finland,7.821,2.518,1.892,1.258,0.775,0.736,0.109,0.534,2022,Western Europe,both
1,2,Denmark,7.636,2.226,1.953,1.243,0.777,0.719,0.188,0.532,2022,Western Europe,both
2,3,Iceland,7.557,2.320,1.936,1.320,0.803,0.718,0.270,0.191,2022,Western Europe,both
3,4,Switzerland,7.512,2.153,2.026,1.226,0.822,0.677,0.147,0.461,2022,Western Europe,both
4,5,Netherlands,7.415,2.137,1.945,1.206,0.787,0.651,0.271,0.419,2022,Western Europe,both

In [95]:
df_22m['_merge'].value_counts()

both          118
left_only       0
right_only      0
Name: _merge, dtype: int64

In [96]:
#drop column Dystopia + residual
df_22m= df_22m.drop(columns = ['Dystopia (1.83) + residual'])

In [97]:
# changing year data type from integer to string
df_22m['Year'] = df_22m['Year'].astype('str')

In [98]:
# creating a key to merge all datasets at the end
df_22m["Key"] = df_22m['Country'].astype(str) +"-"+ df_22m["Year"]

In [99]:
df_22m.head()

,Happiness Rank,Country,Happiness Score,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Year,Region,_merge,Key
0,1,Finland,7.821,1.892,1.258,0.775,0.736,0.109,0.534,2022,Western Europe,both,Finland-2022
1,2,Denmark,7.636,1.953,1.243,0.777,0.719,0.188,0.532,2022,Western Europe,both,Denmark-2022
2,3,Iceland,7.557,1.936,1.320,0.803,0.718,0.270,0.191,2022,Western Europe,both,Iceland-2022
3,4,Switzerland,7.512,2.026,1.226,0.822,0.677,0.147,0.461,2022,Western Europe,both,Switzerland-2022
4,5,Netherlands,7.415,1.945,1.206,0.787,0.651,0.271,0.419,2022,Western Europe,both,Netherlands-2022

### Preparing dataset 2023

In [100]:
# Join path 2023.csv
df_23 = pd.read_csv(os.path.join(path,'2023.csv'), index_col = False)

In [101]:
df_23.head()

,Country name,Happiness score,Logged GDP per capita,Healthy life expectancy,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,Year,Happines Rank
0,Finland,7.804,10.792,71.150,1.888,1.585,0.535,0.772,0.126,0.535,2.363,2023,1
1,Denmark,7.586,10.962,71.250,1.949,1.548,0.537,0.734,0.208,0.525,2.084,2023,2
2,Iceland,7.530,10.896,72.050,1.926,1.620,0.559,0.738,0.250,0.187,2.250,2023,3
3,Israel,7.473,10.639,72.697,1.833,1.521,0.577,0.569,0.124,0.158,2.691,2023,4
4,Netherlands,7.403,10.942,71.550,1.942,1.488,0.545,0.672,0.251,0.394,2.110,2023,5

In [102]:
df_23.columns

Index(['Country name', 'Happiness score', 'Logged GDP per capita',
       'Healthy life expectancy', 'Explained by: Log GDP per capita',
       'Explained by: Social support', 'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual', 'Year', 'Happines Rank'],
      dtype='object')

In [103]:
# renames the columns
df_23.rename(columns = {'Country name' : 'Country', 'Happines Rank':'Happiness Rank', 'Happiness score':'Happiness Score'}, inplace = True)

In [104]:
df_23.columns

Index(['Country', 'Happiness Score', 'Logged GDP per capita',
       'Healthy life expectancy', 'Explained by: Log GDP per capita',
       'Explained by: Social support', 'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual', 'Year', 'Happiness Rank'],
      dtype='object')

In [105]:
#drop column Dystopia + residual
df_23= df_23.drop(columns = ['Dystopia + residual'])

In [106]:
# changing year data type from integer to string
df_23['Year'] = df_23['Year'].astype('str')

In [107]:
# creating a key to merge all datasets at the end
df_23["Key"] = df_23['Country'].astype(str) +"-"+ df_23["Year"]

In [108]:
#Merge the two dataframes with 'country' as the key
df_23m = df_23.merge(df_region, on = 'Country', indicator = True)

In [109]:
df_23m.head()

,Country,Happiness Score,Logged GDP per capita,Healthy life expectancy,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Year,Happiness Rank,Key,Region,_merge
0,Finland,7.804,10.792,71.150,1.888,1.585,0.535,0.772,0.126,0.535,2023,1,Finland-2023,Western Europe,both
1,Denmark,7.586,10.962,71.250,1.949,1.548,0.537,0.734,0.208,0.525,2023,2,Denmark-2023,Western Europe,both
2,Iceland,7.530,10.896,72.050,1.926,1.620,0.559,0.738,0.250,0.187,2023,3,Iceland-2023,Western Europe,both
3,Israel,7.473,10.639,72.697,1.833,1.521,0.577,0.569,0.124,0.158,2023,4,Israel-2023,Middle East and North Africa,both
4,Netherlands,7.403,10.942,71.550,1.942,1.488,0.545,0.672,0.251,0.394,2023,5,Netherlands-2023,Western Europe,both

In [110]:
df_22m.isnull().sum()

Happiness Rank                                0
Country                                       0
Happiness Score                               0
Explained by: Log GDP per capita              0
Explained by: Social support                  0
Explained by: Healthy life expectancy         0
Explained by: Freedom to make life choices    0
Explained by: Generosity                      0
Explained by: Perceptions of corruption       0
Year                                          0
Region                                        0
_merge                                        0
Key                                           0
dtype: int64

### Merging data sets

In [111]:
concat_data2=pd.concat([df_15, df_16m, df_17m, df_18m, df_19m, df_20, df_21, df_22m, df_23m])

In [112]:
concat_data2.isnull().sum()

Country                                         0
Region                                          0
Happiness Score                                 0
Logged GDP per capita                         198
Healthy life expectancy                       178
Explained by: Log GDP per capita                0
Explained by: Social support                    0
Explained by: Healthy life expectancy           0
Explained by: Freedom to make life choices      0
Explained by: Generosity                        0
Explained by: Perceptions of corruption         0
Year                                            0
Happiness Rank                                  0
Key                                             0
_merge                                        458
dtype: int64

In [113]:
concat_data2.columns

Index(['Country', 'Region', 'Happiness Score', 'Logged GDP per capita',
       'Healthy life expectancy', 'Explained by: Log GDP per capita',
       'Explained by: Social support', 'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Year', 'Happiness Rank', 'Key', '_merge'],
      dtype='object')

In [114]:
concat_data2.head(30)

,Country,Region,Happiness Score,Logged GDP per capita,Healthy life expectancy,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Year,Happiness Rank,Key,_merge
0,Switzerland,Western Europe,7.587,10.857283,72.736862,1.396505,1.349505,0.941432,0.665573,0.296775,0.419777,2015,1,Switzerland-2015,NaN
1,Iceland,Western Europe,7.561,10.568534,72.968559,1.302324,1.402231,0.947844,0.628772,0.436297,0.141451,2015,2,Iceland-2015,NaN
2,Denmark,Western Europe,7.527,10.639521,70.323395,1.325478,1.360581,0.874641,0.649384,0.341386,0.483573,2015,3,Denmark-2015,NaN
3,Norway,Western Europe,7.522,11.048872,70.705254,1.458997,1.330955,0.885209,0.669732,0.346989,0.365034,2015,4,Norway-2015,NaN
4,Canada,North America and ANZ,7.427,10.642016,71.443192,1.326292,1.322608,0.905631,0.632968,0.458109,0.329573,2015,5,Canada-2015,NaN
5,Finland,Western Europe,7.406,10.531513,70.846245,1.290249,1.318263,0.889111,0.641693,0.233508,0.413718,2015,6,Finland-2015,NaN
6,Netherlands,Western Europe,7.378,10.651682,70.980934,1.329444,1.280173,0.892838,0.615762,0.476104,0.318139,2015,7,Netherlands-2015,NaN
7,Sweden,Western Europe,7.364,10.658623,71.632347,1.331708,1.289070,0.910866,0.659797,0.362620,0.438436,2015,8,Sweden-2015,NaN
8,New Zealand,North America and ANZ,7.286,10.408683,71.542191,1.250185,1.319674,0.908371,0.639378,0.475010,0.429216,2015,9,New Zealand-2015,NaN
9,Australia,North America and ANZ,7.284,10.664374,72.379982,1.333584,1.309229,0.931556,0.651244,0.435616,0.356365,2015,10,Australia-2015,NaN
10,Israel,Middle East and North Africa,7.278,10.342416,71.740868,1.228570,1.223930,0.913869,0.413189,0.331719,0.077852,2015,11,Israel-2015,NaN
11,Costa Rica,Latin America and Caribbean,7.226,9.506083,69.804222,0.955782,1.237881,0.860274,0.633759,0.254966,0.105826,2015,12,Costa Rica-2015,NaN
12,Austria,Western Europe,7.200,10.675559,70.893608,1.337232,1.297041,0.890422,0.624335,0.330885,0.186762,2015,13,Austria-2015,NaN
13,Mexico,Latin America and Caribbean,7.187,9.704609,68.148178,1.020535,0.914508,0.814444,0.481811,0.140740,0.213123,2015,14,Mexico-2015,NaN
14,United States,North America and ANZ,7.119,10.851165,69.858841,1.394510,1.247113,0.861785,0.546035,0.401052,0.158896,2015,15,United States-2015,NaN
15,Brazil,Latin America and Caribbean,6.983,9.584126,63.905220,0.981237,1.232873,0.697023,0.490490,0.145739,0.175213,2015,16,Brazil-2015,NaN
16,Luxembourg,Western Europe,6.946,11.370514,71.924210,1.563907,1.219625,0.918943,0.615834,0.280337,0.377977,2015,17,Luxembourg-2015,NaN
17,Ireland,Western Europe,6.940,10.671647,71.071075,1.335956,1.369476,0.895333,0.617771,0.459009,0.287029,2015,18,Ireland-2015,NaN
18,Belgium,Western Europe,6.937,10.585373,71.119270,1.307816,1.285664,0.896667,0.584503,0.222498,0.225396,2015,19,Belgium-2015,NaN
19,United Arab Emirates,Middle East and North Africa,6.901,10.951589,67.960464,1.427266,1.125752,0.809249,0.641568,0.264277,0.385833,2015,20,United Arab Emirates-2015,NaN
20,United Kingdom,Western Europe,6.867,10.458319,71.580452,1.266374,1.285477,0.909429,0.596253,0.519120,0.320668,2015,21,United Kingdom-2015,NaN
21,Oman,Middle East and North Africa,6.853,10.745710,66.280632,1.360114,1.081819,0.762761,0.632738,0.215419,0.325243,2015,22,Oman-2015,NaN
22,Venezuela,Latin America and Caribbean,6.810,9.777275,64.754356,1.044237,1.255959,0.720522,0.429082,0.058413,0.110694,2015,23,Venezuela-2015,NaN
23,Singapore,Southeast Asia,6.798,11.241599,75.765495,1.521859,1.020002,1.025247,0.542516,0.311049,0.492100,2015,24,Singapore-2015,NaN
24,Panama,Latin America and Caribbean,6.786,9.836421,67.503639,1.063529,1.198503,0.796607,0.542104,0.244337,0.092699,2015,25,Panama-2015,NaN
25,Germany,Western Europe,6.750,10.647017,70.945534,1.327923,1.299371,0.891859,0.614774,0.282140,0.218428,2015,26,Germany-2015,NaN
26,Chile,Latin America and Caribbean,6.670,9.970168,69.742577,1.107153,1.124466,0.858568,0.441321,0.333634,0.128691,2015,27,Chile-2015,NaN
27,Qatar,Middle East and North Africa,6.611,11.758369,67.529854,1.690415,1.078602,0.797332,0.640396,0.325731,0.522078,2015,28,Qatar-2015,NaN
28,France,Western Europe,6.575,10.493297,72.894180,1.277783,1.260375,0.945786,0.550110,0.123316,0.206459,2015,29,France-2015,NaN
29,Argentina,Latin America and Caribbean,6.574,9.805691,67.164818,1.053505,1.248233,0.787230,0.449736,0.114508,0.084837,2015,30,Argentina-2015,NaN

### Saving as a new dataset

In [115]:
# Assign path 2 variable
path2 = '/Users/mariamaske/World Happiness Data!/02 Data'

In [116]:
# exporting Happiness report data
concat_data2.to_csv(os.path.join(path2,'Prepared Data', 'Happiness_data_complete.csv'))