# 6.1 Cleaning Data PART2

## Importing libaries

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

## Loading Data

In [2]:
# Assign path variable
path = '/Users/mariamaske/World Happiness Data!/02 Data/Prepared Data'

In [3]:
# loading the complete dataframe
# Join path Happiness_data_complete.csv
df = pd.read_csv(os.path.join(path,'Happiness_data_complete.csv'), index_col = False)

## Check for Data Consistency, Duplicates, Missings Values ...

In [4]:
df.shape

(1297, 16)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1297 entries, 0 to 1296
Data columns (total 16 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Unnamed: 0                                  1297 non-null   int64
 1   Country                                     1297 non-null   object
 2   Region                                      1297 non-null   object
 3   Happiness Score                             1297 non-null   float64
 4   Logged GDP per capita                       1099 non-null   float64
 5   Healthy life expectancy                     1119 non-null   float64
 6   Explained by: Log GDP per capita            1297 non-null   float64
 7   Explained by: Social support                1297 non-null   float64
 8   Explained by: Healthy life expectancy       1297 non-null   float64
 9   Explained by: Freedom to make life choices  1297 non-null   float64
 10  Explained by: Generosity                    1297 non-null   float64
 11  Explained by: Perceptions of corruption     1297 non-null   float64
 12  Year                                        1297 non-null   int64
 13  Happiness Rank                              1297 non-null   int64
 14  Key                                         1297 non-null   object
 15  _merge                                      839 non-null    object
dtypes: float64(9), int64(3), object(4)
memory usage: 162.2+ KB

In [6]:
df.describe()

,Unnamed: 0,Happiness Score,Logged GDP per capita,Healthy life expectancy,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Year,Happiness Rank
count,1297.000000,1297.000000,1099.000000,1119.000000,1297.000000,1297.000000,1297.000000,1297.000000,1297.000000,1297.000000,1297.000000,1297.000000
mean,72.040864,5.473737,9.330243,63.867401,1.022425,1.056566,0.592208,0.453393,0.198067,0.131924,2018.845798,74.582884
std,42.388132,1.106996,1.182890,7.397826,0.443272,0.325512,0.242738,0.155537,0.114625,0.113100,2.547869,43.225001
min,0.000000,1.859000,5.527000,38.718510,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2015.000000,1.000000
25%,36.000000,4.635000,8.478003,59.000000,0.714694,0.857000,0.418000,0.359000,0.116000,0.055805,2017.000000,37.000000
50%,72.000000,5.488000,9.506083,65.482254,1.044000,1.089000,0.618000,0.470000,0.184009,0.096000,2019.000000,74.000000
75%,108.000000,6.269000,10.314471,69.223616,1.334329,1.309229,0.781335,0.571037,0.254919,0.167000,2021.000000,112.000000
max,155.000000,7.842000,11.758369,76.953000,2.200000,1.644000,1.141000,0.772000,0.838000,0.587000,2023.000000,156.000000

### Dropping not needed columns

##### Since the main focus lies on the happiness rank and not on the dystopia data, I am going to drop the following columns: 
Unnamed:0 & merge column

In [7]:
df.drop(columns = ['Unnamed: 0','_merge', 'Key'])

,Country,Region,Happiness Score,Logged GDP per capita,Healthy life expectancy,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Year,Happiness Rank
0,Switzerland,Western Europe,7.587,10.857283,72.736862,1.396505,1.349505,0.941432,0.665573,0.296775,0.419777,2015,1
1,Iceland,Western Europe,7.561,10.568534,72.968559,1.302324,1.402231,0.947844,0.628772,0.436297,0.141451,2015,2
2,Denmark,Western Europe,7.527,10.639521,70.323395,1.325478,1.360581,0.874641,0.649384,0.341386,0.483573,2015,3
3,Norway,Western Europe,7.522,11.048872,70.705254,1.458997,1.330955,0.885209,0.669732,0.346989,0.365034,2015,4
4,Canada,North America and ANZ,7.427,10.642016,71.443192,1.326292,1.322608,0.905631,0.632968,0.458109,0.329573,2015,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1292,Congo (Kinshasa),Sub-Saharan Africa,3.207,7.007000,55.375000,0.531000,0.784000,0.105000,0.375000,0.183000,0.068000,2023,133
1293,Zimbabwe,Sub-Saharan Africa,3.204,7.641000,54.050000,0.758000,0.881000,0.069000,0.363000,0.112000,0.117000,2023,134
1294,Sierra Leone,Sub-Saharan Africa,3.138,7.394000,54.900000,0.670000,0.540000,0.092000,0.371000,0.193000,0.051000,2023,135
1295,Lebanon,Middle East and North Africa,2.392,9.478000,66.149000,1.417000,0.476000,0.398000,0.123000,0.061000,0.027000,2023,136
1296,Afghanistan,South Asia,1.859,7.324000,54.712000,0.645000,0.000000,0.087000,0.000000,0.093000,0.059000,2023,137

In [8]:
# creating new subset Happiness
df_hap = df.drop(columns = ['Unnamed: 0','_merge', 'Key'])

In [9]:
df_hap.head()

,Country,Region,Happiness Score,Logged GDP per capita,Healthy life expectancy,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Year,Happiness Rank
0,Switzerland,Western Europe,7.587,10.857283,72.736862,1.396505,1.349505,0.941432,0.665573,0.296775,0.419777,2015,1
1,Iceland,Western Europe,7.561,10.568534,72.968559,1.302324,1.402231,0.947844,0.628772,0.436297,0.141451,2015,2
2,Denmark,Western Europe,7.527,10.639521,70.323395,1.325478,1.360581,0.874641,0.649384,0.341386,0.483573,2015,3
3,Norway,Western Europe,7.522,11.048872,70.705254,1.458997,1.330955,0.885209,0.669732,0.346989,0.365034,2015,4
4,Canada,North America and ANZ,7.427,10.642016,71.443192,1.326292,1.322608,0.905631,0.632968,0.458109,0.329573,2015,5

### Changing Data types

### For further analysis I will change the data type of the following collumns:
Happiness Rank & Year

In [10]:
# viewing data types of df
df_hap.dtypes

Country                                        object
Region                                         object
Happiness Score                               float64
Logged GDP per capita                         float64
Healthy life expectancy                       float64
Explained by: Log GDP per capita              float64
Explained by: Social support                  float64
Explained by: Healthy life expectancy         float64
Explained by: Freedom to make life choices    float64
Explained by: Generosity                      float64
Explained by: Perceptions of corruption       float64
Year                                            int64
Happiness Rank                                  int64
dtype: object

In [11]:
# changing year data type from integer to string
df_hap['Year'] = df_hap['Year'].astype('str')

In [12]:
df_hap['Year'].dtype

dtype('O')

In [13]:
# chaning the data type of the column "Happiness Rank"
df_hap['Happiness Rank'] = df_hap['Happiness Rank'].astype('str')

In [14]:
df_hap['Happiness Rank'].dtype

dtype('O')

In [15]:
df_hap.dtypes

Country                                        object
Region                                         object
Happiness Score                               float64
Logged GDP per capita                         float64
Healthy life expectancy                       float64
Explained by: Log GDP per capita              float64
Explained by: Social support                  float64
Explained by: Healthy life expectancy         float64
Explained by: Freedom to make life choices    float64
Explained by: Generosity                      float64
Explained by: Perceptions of corruption       float64
Year                                           object
Happiness Rank                                 object
dtype: object

In [16]:
df_hap.describe()

,Happiness Score,Logged GDP per capita,Healthy life expectancy,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
count,1297.000000,1099.000000,1119.000000,1297.000000,1297.000000,1297.000000,1297.000000,1297.000000,1297.000000
mean,5.473737,9.330243,63.867401,1.022425,1.056566,0.592208,0.453393,0.198067,0.131924
std,1.106996,1.182890,7.397826,0.443272,0.325512,0.242738,0.155537,0.114625,0.113100
min,1.859000,5.527000,38.718510,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.635000,8.478003,59.000000,0.714694,0.857000,0.418000,0.359000,0.116000,0.055805
50%,5.488000,9.506083,65.482254,1.044000,1.089000,0.618000,0.470000,0.184009,0.096000
75%,6.269000,10.314471,69.223616,1.334329,1.309229,0.781335,0.571037,0.254919,0.167000
max,7.842000,11.758369,76.953000,2.200000,1.644000,1.141000,0.772000,0.838000,0.587000

## Missing values

In [17]:
# finding missing values
df_hap.isnull().sum()

Country                                         0
Region                                          0
Happiness Score                                 0
Logged GDP per capita                         198
Healthy life expectancy                       178
Explained by: Log GDP per capita                0
Explained by: Social support                    0
Explained by: Healthy life expectancy           0
Explained by: Freedom to make life choices      0
Explained by: Generosity                        0
Explained by: Perceptions of corruption         0
Year                                            0
Happiness Rank                                  0
dtype: int64

In [18]:
# Create a new dataframe
df_nan = df_hap[df_hap['Healthy life expectancy'].isnull() == True]

In [19]:
df_nan

,Country,Region,Happiness Score,Logged GDP per capita,Healthy life expectancy,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Year,Happiness Rank
190,Qatar,Middle East and North Africa,6.375,NaN,NaN,1.824266,0.879637,0.717230,0.566785,0.323877,0.480493,2016,35
194,Suriname,Latin America and Caribbean,6.269,NaN,NaN,1.096859,0.778663,0.509334,0.522342,0.166649,0.126921,2016,39
197,Trinidad and Tobago,Latin America and Caribbean,6.168,NaN,NaN,1.325716,0.985686,0.526081,0.484529,0.319348,0.012409,2016,42
201,Malaysia,Southeast Asia,6.005,NaN,NaN,1.251421,0.880246,0.623655,0.390308,0.414736,0.090813,2016,46
215,North Cyprus,Western Europe,5.771,NaN,NaN,1.311412,0.818259,0.841418,0.435962,0.263218,0.165783,2016,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1164,Tanzania,Sub-Saharan Africa,3.702,NaN,NaN,0.848000,0.597000,0.425000,0.578000,0.248000,0.270000,2022,139
1165,Sierra Leone,Sub-Saharan Africa,3.574,NaN,NaN,0.686000,0.416000,0.273000,0.387000,0.202000,0.055000,2022,140
1166,Zimbabwe,Sub-Saharan Africa,2.995,NaN,NaN,0.947000,0.690000,0.270000,0.329000,0.106000,0.105000,2022,144
1167,Lebanon,Middle East and North Africa,2.955,NaN,NaN,1.392000,0.498000,0.631000,0.103000,0.082000,0.034000,2022,145
1168,Afghanistan,South Asia,2.404,NaN,NaN,0.758000,0.000000,0.289000,0.000000,0.089000,0.005000,2022,146

### Observation & Solution: 

As the analysis shows, we have a few missing values for the columns Healthy life expectancy and Logged GDP per capita. However, since we do not have any missing values in the same rows, such as for the Happiness Score or the Year, I will not do anything about the missing values, since they are not the focus of the analysis and the other data in the rows are more important.

In [20]:
# Sort df_happniss by country & year
df_hap.sort_values(['Country', 'Year'])

,Country,Region,Happiness Score,Logged GDP per capita,Healthy life expectancy,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Year,Happiness Rank
152,Afghanistan,South Asia,3.5750,7.556315,49.680115,0.319821,0.302853,0.303354,0.234138,0.365104,0.097188,2015,153
304,Afghanistan,South Asia,3.3600,7.497288,49.871265,0.382266,0.110368,0.173436,0.164305,0.312680,0.071116,2016,149
442,Afghanistan,South Asia,3.7940,7.497288,49.871265,0.401000,0.582000,0.181000,0.106000,0.312000,0.061000,2017,137
591,Afghanistan,South Asia,3.6320,7.460144,52.339527,0.332000,0.537000,0.255000,0.085000,0.191000,0.036000,2018,145
747,Afghanistan,South Asia,3.2030,7.494588,52.599998,0.350000,0.517000,0.361000,0.000000,0.158000,0.025000,2019,147
...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,Zimbabwe,Sub-Saharan Africa,3.6630,7.553395,55.599998,0.366000,1.114000,0.433000,0.361000,0.151000,0.089000,2019,139
899,Zimbabwe,Sub-Saharan Africa,3.2992,7.865712,55.617260,0.425564,1.047835,0.375038,0.377405,0.151349,0.080929,2020,151
1049,Zimbabwe,Sub-Saharan Africa,3.1450,7.943000,56.201000,0.457000,0.649000,0.243000,0.359000,0.157000,0.075000,2021,148
1166,Zimbabwe,Sub-Saharan Africa,2.9950,NaN,NaN,0.947000,0.690000,0.270000,0.329000,0.106000,0.105000,2022,144
1293,Zimbabwe,Sub-Saharan Africa,3.2040,7.641000,54.050000,0.758000,0.881000,0.069000,0.363000,0.112000,0.117000,2023,134

In [21]:
# creating a subset 
df_hap_sorted = df_hap.sort_values(['Country', 'Year'])

## Checking for Duplicates

In [22]:
# looking for duplicates
df_hap_sorted_dups = df_hap_sorted[df_hap_sorted.duplicated()]

In [23]:
# View df_ords_dups
df_hap_sorted_dups

Empty DataFrame
Columns: [Country, Region, Happiness Score, Logged GDP per capita, Healthy life expectancy, Explained by: Log GDP per capita, Explained by: Social support, Explained by: Healthy life expectancy, Explained by: Freedom to make life choices, Explained by: Generosity, Explained by: Perceptions of corruption, Year, Happiness Rank]
Index: []

In [24]:
df_hap_sorted.shape

(1297, 13)

### Observation:

no dups!

In [25]:
df_hap_sorted.describe()

,Happiness Score,Logged GDP per capita,Healthy life expectancy,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
count,1297.000000,1099.000000,1119.000000,1297.000000,1297.000000,1297.000000,1297.000000,1297.000000,1297.000000
mean,5.473737,9.330243,63.867401,1.022425,1.056566,0.592208,0.453393,0.198067,0.131924
std,1.106996,1.182890,7.397826,0.443272,0.325512,0.242738,0.155537,0.114625,0.113100
min,1.859000,5.527000,38.718510,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.635000,8.478003,59.000000,0.714694,0.857000,0.418000,0.359000,0.116000,0.055805
50%,5.488000,9.506083,65.482254,1.044000,1.089000,0.618000,0.470000,0.184009,0.096000
75%,6.269000,10.314471,69.223616,1.334329,1.309229,0.781335,0.571037,0.254919,0.167000
max,7.842000,11.758369,76.953000,2.200000,1.644000,1.141000,0.772000,0.838000,0.587000

### Saving as a new dataset

In [26]:
# exporting Happiness report data
df_hap_sorted.to_csv(os.path.join(path,'Happiness_data_final.csv'))